.donation_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 25vh;
  text-align: center;
  border: 1px solid black;
}

.donation_container h1{
  font-size: 30px;
  font-weight: 700;
}

.donation_container a {
  margin-top: 5px;
  width: 150px;
  padding: 1px 3px;
  background-color: #454740;
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.donation_container > a h2 {
  padding: 3px 0px;
  font-size: 20px;
  text-align: center;
  color: aliceblue;
}
.donation_container a:hover {
  transform: scale(1.2);
} 

@media (max-width: 600px){
  .donation_container h1{
    font-size: 25px;
    font-weight: 700;
  }
}
  
