/* SuccessStories.css */

.story_container {
  background-color: rgb(255, 255, 255);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story_container h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.inner_container {
  margin: 20px;
  height: auto;
  width: 90%;
}

.slick-slide {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.success_box {
  background-color: #17632a;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.success_box .image_container {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #6EDE8A; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image_container img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.success_box .content {
  padding: 20px;
  text-align: justify;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: black;
}

@media (max-width: 600px) {
  .story_container {
    background-color: rgb(255, 255, 255);
    height: 60vh;
    display: flex;
    flex-direction: column;
  }
  .story_container h1 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .inner_container {
    margin: 20px;
    max-height: 90%;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .success_box {
    min-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
  }
  .box .content {
    padding: 10px;
    font-size: 0.9rem; /* Smaller text on mobile */
  }

  .image_container img {
    height: 70px; /* Smaller images on mobile */
    width: 70px;
  }
}
